.header__logo{
    max-width: 176px;
    object-fit: cover;
    margin-top: 28px;
}
@media screen and (max-width: 767px){
    .header__logo{
        width: 143px;
        height: 42px;
        margin-top: 16px;
    }
}